.Custom {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.alert__image {
  height: 65px;
  width: 100px;
  border-left: 1px solid #f7f7f7;
  padding-left: 15px;
}

.carousel {
  width: 90%;
}

.carousel-inner {
  width: 93%;
}

.carousel-indicators {
  display: none;
}

.carousel-caption {
  position: relative;
  text-align: center;
  right: 0;
  bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
  background: #f9f9f9;
  opacity: 1;
  width: 3%;
  height: 30px;
  border-radius: 5px;
  z-index: 9999;
}

.carousel-control-next {
  right: 97%;
  top: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev-icon:after {
  background-image: url("../../images/up-arrow.svg");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
}

.carousel-control-next-icon:after {
  background-image: url("../../images/up-arrow.svg");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  transform: rotate(180deg);
}

@media only screen and (max-width: 800px) {
  .Custom {
    flex-direction: column;
  }
  .alert__image {
    border: none;
  }
  .message_detail {
    flex-direction: column;
  }
}
