::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #d8d8d8;
}

.Maintitle__image {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.Suits .nav-tabs .nav-link {
    font-size: 12px;
    font-family: "BukraAlt_Bold";
    color: #999999;
}

.Suits .nav-tabs .nav-link.active,
.Suits.nav-tabs .nav-item.show .nav-link {
    color: #02a8c6;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(222, 226, 230, 0) rgba(222, 226, 230, 0) rgba(255, 255, 255, 0);
    font-weight: 600;
    position: relative;
}

.Suits .nav-tabs .nav-link:hover,
.Suits .nav-tabs .nav-link:focus {
    border-color: rgba(233, 236, 239, 0) rgb(233, 236, 239) rgb(222, 226, 230);
}

.Suits .nav-tabs .nav-link.active::after {
    content: "";
    height: 5px;
    background: #02a8c6;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: -2px;
}

.tableContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.tableContainer tbody {
    display: block;
    height: 500px;
    overflow: auto;
}
.tableContainer thead,
.tableContainer tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.tableContainer thead {
    width: calc(100% - 1em);
}

.tableContainer .table th {
    color: #747474;
    background: #f2f2f2;
    font-size: 12px;
    font-family: "BukraAlt_Bold";
    border: none;
}

.tableContainer .table td {
    font-size: 10px;
    font-family: "BukraAlt_Bold";
    background: #fff;
    padding: 15px;
    color: #bababa;
    border: none;
    margin-bottom: 5px;
}

.fadeIn {
    animation-duration: 2s;
}
